.navbar {
    background-color: #333;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

 .pl-logo{
    width: 50px;
    margin-bottom: 10px;
    border-radius: 50%;
  }
  
  .nav-links {
    display: flex;
    gap: 20px;
  }
  
  .nav-links button {
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    padding: 10px;
  }
  
  .nav-links button:hover {
    color: #ffcc00;
  }
  
  .hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: white;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .nav-links {
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      background-color: #333;
      flex-direction: column;
      align-items: center;
      display: none;
    }
  
    .nav-links.open {
      display: flex;
    }
  
    .hamburger {
      display: flex;
    }
  }
  